html{
    background-color: #fefefe
}

/* main document */
body {
  background-color: #fefefe;
  font-family: Open Sans, Arial;
  font-size: 13pt;
  margin-left: 80px;
  margin-right: 90px;
  margin-bottom: 100px;
  text-align: left;
  hyphens: auto;
}

/* use this style for inline code examples */
.hr1 {
	background-color: #fefefe;
	font-family: 'Courier New', Courier, monospace;
	color: rgba(119, 59, 10, 0.842);
	font-size: 13pt;
}


/* code elements */
code {
	font-family: Consolas,"courier new";
	color: rgb(128, 73, 84);
	background-color: #f1f1f1;
	padding: 2px;
	font-size: 105%;
  }

/* Header / Title */
.header {
    padding: 0px;
    text-align: left;
    background: #fefefe;
    font-family: Open Sans, Arial;
    margin-bottom: 20px
  }
  
  .header h1 {
    font-size: 40px;
    font-family: Open Sans, Arial;
    margin-bottom: 20px
  }

/* Bootstrap sidenav */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #1136ca;
    color: #fff;
    transition: all 0.3s;
}


/* Style the side navigation bar */
.sidenav {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #0a1f7ee5;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

  
  .sidenav a {
	padding: 8px 8px 8px 25px;
	text-decoration: none;
	font-size: 20px !important;
	color: #f1f1f1;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #d4d4d462;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 25px !important;
	margin-left: 50px;
  }

  .sidenav-bottom {
	  margin-top:40px;
	  display: inline-block;
	  vertical-align:top;
	  white-space: nowrap;
  }

  .sidenav-top {
	  float: top;
  }

  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


  /* push page content when using navigation */

  #main {
	transition: margin-left .5s; 
	padding: 20px;
  }
  

  .span-right{float:right!important}

  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
 }
  
/* normal paragraphs */
p {
  background-color: #fefefe;
  color: black;
  font-family: Open Sans, Arial;
}

.bottomnav{
	background-color: transparent;
}

.leftnavicons{
	/* margin-left: 2px; */
	/* margin-right: 2px; */
	/* font-size: 25px !important; */
}

/* Style for accordions */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }

  .accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	font-size: 15px;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left
  }

  mark.red {
    color:#ff0000;
    background: none
}

/* links */
a:link {
	font-style: normal;
	text-decoration: none;
}

a:visited {
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: red
}


/* progress bar */


/* Style the header: fixed position (always stay at the top) */
.header {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	background-color: #f1f1f1;
  }
  
  /* The progress container */
  .progress-container {
	width: 100%;
	height: 8px;
	background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
	height: 8px;
	background: #0027d3d7;
	width: 0%;
  } 


  /* bottom navigation images */
  img.bottom{
	  position: fixed;
	  bottom: 0;
	  height:50%;
	  width:50%;
  }

  /* images */
  img{
	  width: 100%;
	  height: auto;

  }

  /* icomoon font */
  @font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?a6lwon');
	src:  url('../fonts/icomoon.eot?a6lwon#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?a6lwon') format('truetype'),
	  url('../fonts/icomoon.woff?a6lwon') format('woff'),
	  url('../fonts/icomoon.svg?a6lwon#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-justified-icon:before {
	content: "\27f6";
	color: #e9e6e6;
  }
  .icon-leftaligned-icon:before {
	content: "\27f5";
	color: #e9e6e6;
  }
  
  /* Page transitions */
  .animate-in {
    -webkit-animation: fadeIn .9s ease-in;
    animation: fadeIn .9s ease-in;
}

.animate-out {
    -webkit-transition: opacity .9s;
    transition: opacity .9s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}